<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="true" internalLogLevel="Error" internalLogFile="nlog-window.log">
    <extensions>
      <add assembly="NLog.Targets.GraylogHttp" />
    </extensions>
    <targets async="true">
      <target name="graylog" xsi:type="GraylogHttp" facility="LIVESAKINT01" graylogServer="http://graylog" graylogPort="12201">

        <!-- Location information. -->
        <parameter name="EventDateAtOrigin" layout="${date:format=yyyy-MM-ddTHH\:mm\:ss.fff}" />
        <parameter name="Level" layout="${level}" />
        <parameter name="CorrelationID" layout="${event-properties:CorrelationID}" />
        <parameter name="SessionID" layout="${event-properties:SessionID}" />
        <parameter name="TimeSpentInMs" layout="${event-properties:TimeSpentInMs}" />
        <parameter name="Component" layout="${event-properties:Component}" />
        <parameter name="ComponentVersion" layout="${event-properties:ComponentVersion}" />
        <parameter name="Action" layout="${event-properties:Action}" />
        <parameter name="Method" layout="${event-properties:Method}" />
        <parameter name="BookNo" layout="${event-properties:BookNo}" />
        <parameter name="Hostname" layout="${event-properties:Hostname}" />
        <parameter name="ResultCode" layout="${event-properties:ResultCode}" />
        <parameter name="InitiatorIPAddress" layout="${event-properties:InitiatorIPAddress}" />
        <parameter name="Exception" layout="${exception:format=toString,Data:maxInnerExceptionLevel=2}" />
        <parameter name="SourceMethod" layout="${callsite}" />
        <parameter name="SourceLine" layout="${callsite-linenumber}" />
      </target>
      <target xsi:type="File" name="jsonFile" fileName="logs\DCSSynthesizer-json-${shortdate}.log">
        <layout xsi:type="JsonLayout" includeAllProperties="true">
          <attribute name="EventDateAtOrigin" layout="${date:format=yyyy-MM-ddTHH\:mm\:ss.fff}" />
          <attribute name="level" layout="${level:upperCase=true}" />
          <attribute name="message" layout="${message}" />
          <attribute name="exception" layout="${exception:format=toString,Data:maxInnerExceptionLevel=2}" />
          <attribute name="_source_method" layout="${callsite}" />
          <attribute name="_source_line" layout="${callsite-linenumber}" />
        </layout>
      </target>
      <target name="colouredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="true" layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=2}">
      </target>
    </targets>
    <rules>
      <logger name="*" writeTo="colouredConsole" />
      <logger name="*" writeTo="jsonFile" />
      <logger name="*" writeTo="graylog" />
    </rules>
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
