<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mono.Options" version="5.3.0.1" targetFramework="net461" />
  <package id="NAudio" version="1.9.0-preview1" targetFramework="net461" />
  <package id="NAudio.Lame" version="1.0.7" targetFramework="net461" />
  <package id="Saxon-HE" version="9.8.0.14" targetFramework="net461" />
</packages>